@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-kpam-blue;
}

.cta {
  background-image: url('/assets/network.png');
  background-size: cover;
  width: 100%;
  height: 100%;
}